{% extends "in_game.html" %}
{% block pagename %}{{ room }}{% endblock %}
{% block extrascripts %}
<link rel="stylesheet" href="../static/chat.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        //socket = io.connect(window.location.origin, {path: "/chat/socket.io"})
        socket = io.connect()
        socket.on('connect', function() {
            socket.emit('joined', {});
        });
        socket.on('status', function(data) {
            $('#chat').append('<p class="status">' + data.msg + '</p>');
            var chatdiv    = $('#chat');
            var height = chatdiv[0].scrollHeight;
            chatdiv.scrollTop(height);
        });
        socket.on('message', function(data) {
            $('#chat').append('<p class="message">' + data.msg +  '</p>');
            var chatdiv    = $('#chat');
            var height = chatdiv[0].scrollHeight;
            chatdiv.scrollTop(height);
        });
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            }
        });
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();

            // go back to the login page
            window.location.href = "{{ url_for('main.signin') }}";
        });
    }
</script>
{% endblock %}
{% block body %}
<h1>{{ room }}</h1>
<div class="chat" id="chat"></div>
<textarea id="text" class="form-control" rows="3" placeholder="Enter your message here" autofocus></textarea>
{% endblock %}
