{% extends "in_game.html" %}
{% block pagename %}Edit Character - Attributes{% endblock %}
{% block extrascripts %}
<link rel="stylesheet" href="../static/signin.css">
<script type="text/javascript" charset="utf-8">
    $('document').ready(function() {
        $('#Strength').val({{ session.Strength }})
        $('#StrengthSave').val({{ session.StrengthSave }})
    })
</script>
{% endblock %}
{% block body %}
<form method=post action ={{ url_for(".save_attributes") }}>
    <h2 class="form-signin-heading">Attributes and Saves</h2>
    <div class="row">
        <div class="col-md-5">
            <label for="Strength" class="sr-only">Name</label>
            <span class="label label-primary">Strength</span> <input id="Strength" class="attribute" type="text" class="form-control" required>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <label for="StrengthSave" class="sr-only">Name</label>
            <span class="label label-primary">Strength Save</span> <input id="StrengthSave" class="save" type="text" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
</form>
    <p id="savemessage">{{ saved }}</p>
{% endblock %}