<html>
    <head>
        <!--Bootstrap things-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Virtual P&P - {% block pagename %}{% endblock %}</title>
        {% block extrascripts %}{% endblock %}
    </head>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Virtual P&P</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href={{ url_for('.chat') }}>Tabletop</a></li>
            <li><a href="#about">My Actions</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit Character <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href={{ url_for('edit_attributes') }}>Attributes and Saves</a></li>
                <li><a href="#">Skills and Proficiencies</a></li>
                <li><a href="#">Attacks and Defenses</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Fluff</li>
                <li><a href="#">Motivations</a></li>
                <li><a href="#">Other Notes</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" onclick="leave_room();">Log Out</a></li>
            <li><a href="#">Account Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <body>
        <div class = "container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
