<html>
    <head>
        <!--Bootstrap things-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/signin.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Virtual P&P Login</title>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" method=post action="{{ url_for('.dosignin') }}">
                <h2 class="form-signin-heading">Virtual P&P sign in</h2>
                <label for="inputName" class="sr-only">Name</label>
                <input id="inputName" name="inputName" type="text" class="form-control" placeholder="Name" required autofocus>
                <label for="inputRoom" class="sr-only">Room</label>
                <input id="inputRoom" name="inputRoom" type="text" class="form-control" placeholder="Room" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enter Game</button>
            </form>
        </div>
    </body>
</html>
